body {
    background:white;
  }

  p {
    text-align: center;
    color: black;
    font-size: 20px
  }

  h1 {
    font-weight: bold;
    text-align: center;
    color: maroon;
    font-size: 65px;
    margin-right: auto;
    font-family:cursive;
  }

  a {
    color: darkred;
    text-align: right;

  }

  .img {
    border-radius: 190px;
    border: solid white;
    height: 50px;
  }

  .navigation-bar{
    padding: 10px;
    border-style:dashed;
    border-bottom: 4px;
    background: #000;
  }

  .navlinks{
    text-decoration: underline; 
    Margin-Left: 20px;
    Font-size: 35px;
    color: #8B0000;
    border-right: 10px;
  }

  /* from .credittext to ol li is chandra's work for design on css, so far anyway*/
  .credittext {
    text-align: center;
    font-size:11;
    margin: 0 auto;
    width: 178px;
  }

.pictures {
    border-radius: 190px;
    border: solid white;
    height: 202px;
    margin-top: 31px;
  }

.right-wrapper {
    float: right;
    border: 2px solid white;
    border-right: 20px double maroon;
    padding-right: 20px;
    max-width: 70%;
    height: 400px;
  }

.left-wrapper {
    float: left;
    border: 2px solid white;
    border-left: 20px double maroon;
    padding-left: 20px;
    max-width: 24%;
    height: 400px;
  }

#content {
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
}

/*this part is for designing how the lists of pickuplines look like, font, family, color, etc.*/
ol li {
    font-size: 18px;
}
