body {
    background:white;
}

  p {
    text-align: center;
    color: black;
    font-size: 20px
  }

  h1 {
    font-weight: bold;
    text-align: center;
    color: maroon;
    font-size: 65px;
    margin-right: auto;
    font-family:cursive;
  }

  a {
    color: darkred;
    text-align: right;

  }

  .img {
    border-radius: 190px;
    border: solid white;
    margin-right: -10%;
    height: 40px;

  }

  .Navigation-Bar {
    padding: 10px;
    background-color: black;
    border-style:dashed;
    border-bottom: 4px;
  }

  .NavLinks {
    text-decoration: underline; 
    Margin-Left: 75px;
    Font-size: 120%
    color: darkred;
    border-right: 10px;
  }
