body {
    background:white;
  }

  p {
    text-align: center;
    color: black;
    font-size: 20px
  }

  h1 {
    font-weight: bold;
    text-align: center;
    color: maroon;
    font-size: 65px;
    margin-right: auto;
    font-family:cursive;
  }

  a {
    color: darkred;
    text-align: right;

  }

  .img {
    border-radius: 190px;
    border: solid white;
    height: 50px;
  }

  .navigation-bar{
    padding: 10px;
    border-style:dashed;
    border-bottom: 4px;
    background: #000;
  }

  .navlinks{
    text-decoration: underline; 
    Margin-Left: 20px;
    Font-size: 35px;
    color: #8B0000;
    border-right: 10px;
  }
  
  .credittext {
    text-align: left;
    font-size:15;
    float: left;
  }

.pictures {
    border-radius: 190px;
    border: solid white;
    height: 150px;
  }

.wrapper {
    float: right;
    border: 2px solid white;
    border-left: 20px;
    float: left;
    padding-right: 20px;
  }

